{% extends 'catalog/base.html' %}
{% block content %}

<form method='post' enctype="multipart/form-data">
    <div class="row">

        <div class="col-6">
            <p class="card-text"> Восстановить пароль </p>
            <div class="card">

                <div class="card-body">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <a class="btn btn-primary" href="{% url 'users:login' %}"
                                   role="button">Восстановить пароль</a>

                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}